#===============================================================================
# Topoflow Config File for: Channels_Dynamic_Wave
#===============================================================================
# Input 1
comp_status         | Enabled             | string    | Component status [-] {Enabled; Disabled}
in_directory        | .                   | string    | Input directory [-]
out_directory       | .                   | string    | Output directory [-]
site_prefix         | {site_prefix}       | string    | File prefix for the study site [-]
case_prefix         | {case_prefix}       | string    | File prefix for the model scenario [-]
n_steps             | {n_steps}           | long      | Number of time steps [-]
dt                  | {dt}                | float     | Channel process timestep [sec]
code_file           | {code_file}         | string    | Grid of d8 flow codes in binary file (jenson 84) [-]
slope_file          | {slope_file}        | string    | Grid of d8 slopes in binary file [m/m]
MANNING             | {MANNING}           | int       | Option to use mannings n for roughness [-]
LAW_OF_WALL         | {LAW_OF_WALL}       | int       | Option to use law of wall for roughness [-]
nval_type           | {nval_type}         | string        | Allowed input types [-] {Scalar; Grid; Time_Series; Grid_Sequence}
nval                | {nval}              | {typeof_nval} | Mannings n values [s/m^(1/3)]
z0val_type          | {z0val_type}        | string        | Allowed input types [-] {Scalar; Grid; Time_Series; Grid_Sequence}
z0val               | {z0val}             | {typeof_z0val} | Law-of-wall roughness values [m]
#===============================================================================
# Input 2
width_type          | {width_type}        | string         | Allowed input types [-] {Scalar; Grid; Time_Series; Grid_Sequence}
width               | {width}             | {typeof_width} | Bottom width of trapezoid cross-section [m]
angle_type          | {angle_type}        | string         | Allowed input types [-] {Scalar; Grid; Time_Series; Grid_Sequence}
angle               | {angle}             | {typeof_angle} | Bank angle of trapezoid cross-section [deg]
d0_type             | {d0_type}           | string         | Allowed input types [-] {Scalar; Grid; Time_Series; Grid_Sequence}
d0                  | {d0}                | {typeof_d0}    | Initial flow depth (if scalar, use 0.0!) [m]
sinu_type           | {sinu_type}         | string         | Allowed input types [-] {Scalar; Grid; Time_Series; Grid_Sequence}
sinu                | {sinu}              | {typeof_sinu}  | Absolute channel sinuosity [m/m]
#===============================================================================
# Output 1
save_grid_dt        | {save_grid_dt}      | float     | Time interval between saved grids [sec]
SAVE_Q_GRIDS        | Yes     | string    | Option to save computed q grids [-] {Yes; No}
Q_gs_file           | {Q_gs_file}         | string    | Filename for q grid stack [m^3/s]
SAVE_U_GRIDS        | Yes     | string    | Option to save computed u grids [-] {Yes; No}
u_gs_file           | {u_gs_file}         | string    | Filename for u grid stack [m/s]
SAVE_D_GRIDS        | Yes     | string    | Option to save computed d grids [-] {Yes; No}
d_gs_file           | {d_gs_file}         | string    | Filename for d grid stack [m]
SAVE_F_GRIDS        | Yes     | string    | Option to save computed f grids [-] {Yes; No}
f_gs_file           | {f_gs_file}         | string    | Filename for f grid stack [-]
#===============================================================================
# Output 2
save_pixels_dt      | {save_pixels_dt}    | float     | Time interval between time series values [sec]
pixel_file          | {pixel_file}        | string    | Filename for monitored pixel file [-]
SAVE_Q_PIXELS       | No     | string    | Option to save computed q time series [-] {Yes; No}
Q_ts_file           | {Q_ts_file}         | string    | Filename for computed q time series [m^3/s]
SAVE_U_PIXELS       | No     | string    | Option to save computed u time series [-] {Yes; No}
u_ts_file           | {u_ts_file}         | string    | Filename for computed u time series [m/s]
SAVE_D_PIXELS       | No     | string    | Option to save computed d time series [-] {Yes; No}
d_ts_file           | {d_ts_file}         | string    | Filename for computed d time series [m]
SAVE_F_PIXELS       | No     | string    | Option to save computed f time series [-] {Yes; No}
f_ts_file           | {f_ts_file}         | string    | Filename for computed f time series [-]
